extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Raphaël

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p#portfolio-bio
            | I am a creative, highly motivated and autonomous individual who loves building stuff alone or with a great team. With my entrepreneurial mindest, I am able to empathize with the final user and build with attention to details. During my spare time, I love learning through my readings and some podcasts. Some people call me a swissknife since I am able to learn and practice anything I put my mind into which is one of the great thing about programming. I always keep learning new stuff. Other than that, I do practice Jiu Jitsu, love training and staying healthy to keep my mind sharp. 
   
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li Express
          li Graphic Design
          li Videographer
          li Online marketing
        h6 Contact Info

        ul
          li 581-997-2484
          li bonjour@agencebonsai.com

        a.button.expanded(href='https://www.linkedin.com/in/raphael-tremblay-bouchard-18019356/') LinkedIn
        a.button.expanded(href='https://github.com/raphael1807') GitHub
        a.button.expanded(href='https://twitter.com/raphael1807') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
